


.login-container{
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    background-color: aliceblue;
    padding: 10vh 18vh 10vh 18vh;
    border-radius: 5vh;
}

.login-title{
    text-align: center;
}

.form-actions{
    text-align: center;
}